<div class="modal-header">
	<h4 class="modal-title">Hi there!</h4>
	<button type="button" class="close" aria-label="Close" (click)='onCancel()'>
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	Nafn:
	<input [(ngModel)]="seller.name" autofocus/><br>
	Flokkur:
	<input [(ngModel)]="seller.category" /> <br>
	Slóð á Mynd:
	<input [(ngModel)]="seller.imagePath" /><br>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)='onCancel()'>Canel</button>
	<button type="button" class="btn btn-sucess" (click)='onOk()'>OK</button>
</div>