<div class="modal-header">
  <h4 class="modal-title">Bæta við varningi</h4>
	<button type="button" class="close" aria-label="Close" (click)='onCancel()'>
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
  Nafn:
  <input [(ngModel)]="product.name" autofocus/><br>
  <div *ngIf="noName">
    Nafn er nauðsynlegt á vöru*
  </div>
  Verð:
  <input [(ngModel)]="product.price" /><br>
  <div *ngIf="negPrice">
    vitlaust inntak*
  </div>
  Magn:
  <input [(ngModel)]="product.quantityInStock" /><br>
  <div *ngIf="negInStock">
    Vitlaust inntak*
  </div>
  Selt magn:
  <input [(ngModel)]="product.quantitySold" /><br>
    <div *ngIf="negSold">
      Vitlaust inntak*
  </div>
  Mynd:
  <input [(ngModel)]="product.imagePath" /><br>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)='onCancel()'>Canel</button>
	<button type="button" class="btn btn-sucess" (click)='onOk()'>OK</button>
</div>
