<div class="modal-header">
  <h4 class="modal-title">Bæta við varningi</h4>
	<button type="button" class="close" aria-label="Close" (click)='onCancel()'>
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
  <div>
    Nafn: <input [(ngModel)]="product.name" autofocus/>
    <div *ngIf="noName">
      Nafn er nauðsynlegt á vöru*
    </div>
  </div>
  <div>
    Verð <input [(ngModel)]="product.price" />
    <div *ngIf="negPrice">
      vitlaust inntak*
    </div>
  </div>
  <div>
    Magn <input [(ngModel)]="product.quantityInStock" />
    <div *ngIf="negInStock">
      Vitlaust inntak*
    </div>
  </div>
  <div>
    Selt magn <input [(ngModel)]="product.quantitySold" />
      <div *ngIf="negSold">
        Vitlaust inntak*
    </div>
  </div>
  <div>
    Mynd <input [(ngModel)]="product.imagePath" />
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)='onCancel()'>Canel</button>
	<button type="button" class="btn btn-sucess" (click)='onOk()'>OK</button>
</div>
