<h3 class='pop' (click)='goViewSeller(mostPopularSeller)'>Vinsælasta varan!</h3>
<div class='left' >
	<h3 *ngIf='noProducts'>Engar vörur til að sýna</h3>
	<div class='row'>
		<div class='card'>
			<app-product-card [product]='mostPopularProd' (productUpdated)='onProductEdited($event)'>
			</app-product-card>
		</div>
	</div>
</div>
<h2 class='right'>
	Seljendur
</h2>
<button class='btn-primary' (click)='addSeller()'>Bæta við seljanda</button>
<h2 *ngIf='noSellers'>Engir seljendur eru til</h2>
<table class='table table-hover table-striped'>
	<thead>
		<tr>
			<th>Nafn</th>
			<th>Flokkur</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor='let s of sellers' (click)='goViewSeller(s)'>
			<td>{{s.name}}</td>
			<td>{{s.category}}</td>
		</tr>
	</tbody>
</table>




<template ngbModalContainer></template>